.modal .modal-body {
    max-width: 100%;
    overflow-x: auto;
}
td{
	min-width: 100px;
	overflow: hidden;
    white-space: nowrap;
}
// tr{
// 	min-width: 100px;
// 	overflow: hidden;
//     white-space: nowrap;
// }
// table{
// 	min-width: 100px;
// 	overflow: hidden;
//     white-space: nowrap;
// }
table {
    table-layout: fixed;
}
a{
	cursor:pointer;
}
.linebackground {
	background-color: gray;
}