<style>
.no-space {
    border-collapse: collapse;
    cellspacing: 0;
}
</style>
<div class="container">
<div class="row">
<div ng-show="showAll">

<h2>HITMAP</h2>
    <div class="input-group">
    <label>View As</label>
    <div class="switch-toggle well">
      <input type="radio" name="view" id="square" value="square" ng-init="view = 'square'" ng-model="view"><label for="square">Lines</label>
      <input type="radio" name="view" id="circle" value="circle" ng-model="view"><label for="circle">Dots</label>
      <a class="btn btn-primary"></a>
    </div>
  </div>
  <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">More Options</button>
  <hr>
  <div collapse="!isCollapsed">
<div class="input-group">
Select Identity Cutoff for Calculating Methylation Level:
 <span><input ng-model="identityCutoff" min="0.5" max="1.0" step="0.005" type="range">{{identityCutoff}}</input></span>
</div>
  <button class="btn btn-default btn-md" ng-click="changeName(regions, regex)">Change Sequence Read Names By Regex</button>
</div>
<br>
<!-- <table ng-class="{'no-space': view=='square'}">
 -->
 <table>  
 <tr>
    <td>
      <table> <!-- first column -->
        <tr>
          <th>Sample</th>
        </tr>
        <tr ng-repeat="sampleName in allSamples | orderBy">
          <td style="height:30px; box-sizing: content-box; border: 0px; padding: 0px !important;">{{sampleName}} </td>
        </tr>
<!--         <br>
 -->      </table>
    </td>
    <td ng-repeat="(regionName,region) in regions">
      <table> 
        <tr>
          <th>{{regionName}}</th>
        </tr>
        <tr ng-repeat="(sampleName,sample) in region.samples | orderBy:'sampleName'">
          <td style="height:25px; box-sizing: content-box; border-bottom-color:red; padding: 0px;">
<!--       <a ng-show="sample.analyses.length>0" ng-click="getInfo(sample.analyses)" tooltip="{{getTooltip(sampleName, sample)}}">
 -->      <a ng-show="sample.analyses.length>0" href="{{link(sampleName, regionName)}}" tooltip="{{getTooltip(sampleName, sample)}}">
      <span ng-show="view=='circle'"><dot samples="sample.analyses" identity-cutoff="identityCutoff"></dot></span>
      <span ng-show="view=='square'"><block samples="sample.analyses" identity-cutoff="identityCutoff"></block></span>
      
          <span ng-show="sample.analyses.length==0"><dot></dot></span>
        </a></td>
        </tr>
<!--         <br>
 -->      </table>
    </td>
</tr>
</table>
</div>
<div ng-hide="showAll" id="analysisInfo">
<button type="button" class="btn btn-default" ng-click="backToOverview()">Back to Overview</button>
<button class="btn btn-default btn-md" ng-click="python(title)">Get Python Code</button>
<button class="btn btn-default btn-md" ng-click="rcode(title)">Get R Code</button>
<br>

<h4>Summary of information for {{title}}</h4>
<h5>Length of target genome sequence: {{referenceLength}}</h5>
<h5>Number of CpG sites: {{referenceCpGSites.length}}
<h5>Number of bisulfite sequences: {{included}} used / {{excluded}} excluded / {{included + excluded}} total</h5>
<br>
<h4>Methylation status of each CpG site</h4>
<methylation id="{{title.split(':')[0]}}" datajson="'sample.json'" 
                   xaxis-name = "'Year'" 
                   xaxis-pos = "905"  
                   yaxis-name = "'Frequency'" 
                   yaxis-pos = "6" 
                   d3-format= "',.0f'" ></methylation>
<!-- <div class="table-responsive">
<table class="table">
<tr>
  <th>CpG position</th>
  <th ng-repeat="area in percentMethylation">{{area.location}}</th>
</tr>
<tr>
<td>Me-CpG</td>
  <td ng-repeat="area in percentMethylation">{{area.m}}/{{area.m+area.u}}<br>{{area.m/(area.m+area.u)*100 | number: 1}}%</td>
</tr>
</table>
</div> -->
<h4>Bisulfite sequence information</h4>
<table class="table" style="width:auto">
<tr>
  <th>Include?</th>
  <th>Sequence name</th>
  <th>mismatch (gap) / alignment length<br>(% identity)</th>
  <th>Me-CpG (%)</th>
  <!--<th>unconverted (% converted)</th>-->
  <th>Methylation pattern</th>
</tr>
<tr ng-repeat="analysis in analyses | orderBy:predicate">
  <td><input ng-model="analysis.include" type="checkbox" ng-change="setMethylation(analysis.include)"></td>
  <td>{{analysis.sampleName | nameExp:regex }}</td>
  <td>{{analysis.alignment.mismatches}} ({{analysis.alignment.gaps}}) / {{(analysis.alignment.end-analysis.alignment.start+1)}} ({{analysis.alignmentIdentity*100 | number: 1}})</td>
  <td>{{analysis.methylation.methylated}} ({{analysis.methylation.methylated/(analysis.methylation.reference.length)*100 | number: 1}})</td>
  <!--<td>{{analysis.bisulfite.unconvertedCpH}} ({{analysis.percentConversion*100 | number: 1}})</td>-->
  <td><span ng-repeat="site in analysis.methylation.sequence track by $index"><img height="10px" width="10px" ng-show="site=='M'" src="img/closed_circle.png"/><img  height="10px" width="10px" ng-show="site=='U'" src="img/open_circle.png"/><img  height="10px" width="10px" ng-show="site=='-'" src="img/dash.png"/><img  height="10px" width="10px" ng-show="site=='G' || site=='A' || site=='T'" src="img/x.png"/><img  height="10px" width="10px" ng-show="site=='X' || site=='C' || site=='error'" src="img/red_x.png"/></span></td>
</tr>
</table>

</div>
</div>
</div>