<style>
.no-space {
    border-collapse: collapse;
    cellspacing: 0;
}
</style>
<div class="container">
<div class="row">
<div ng-show="showAll">

<h2>HITMAP</h2>
    <div class="input-group">
    <label>View As</label>
    <div class="switch-toggle well">
      <input type="radio" name="view" id="square" value="square" ng-init="view = 'square'" ng-model="view"><label for="square">Lines</label>
      <input type="radio" name="view" id="circle" value="circle" ng-model="view"><label for="circle">Dots</label>
      <a class="btn btn-primary"></a>
    </div>
  </div>
  <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">More Options</button>
  <hr>
  <div collapse="!isCollapsed">
<div class="input-group">
Select Identity Cutoff for Calculating Methylation Level:
 <span><input ng-model="identityCutoff" min="0.5" max="1.0" step="0.005" type="range">{{identityCutoff}}</input></span>
</div>
  <button class="btn btn-default btn-md" ng-click="changeName(regions, regex)">Change Sequence Read Names By Regex</button>
</div>
<br>
<!-- <table ng-class="{'no-space': view=='square'}">
 -->
 <table>  
 <tr>
    <td>
      <table> <!-- first column -->
        <tr>
          <th>Sample</th>
        </tr>
        <tr ng-repeat="sampleName in allSamples | orderBy">
          <td style="height:30px; box-sizing: content-box; border: 0px; padding: 0px !important;">{{sampleName}} </td>
        </tr>
<!--         <br>
 -->      </table>
    </td>
    <td ng-repeat="(regionName,region) in regions">
      <table> 
        <tr>
          <th>{{regionName}}</th>
        </tr>
        <tr ng-repeat="(sampleName,sample) in region.samples | orderBy:'sampleName'">
          <td style="height:25px; box-sizing: content-box; border-bottom-color:red; padding: 0px;">
<!--       <a ng-show="sample.analyses.length>0" ng-click="getInfo(sample.analyses)" tooltip="{{getTooltip(sampleName, sample)}}">
 -->      <a ng-show="sample.analyses.length>0" href="{{link(sampleName, regionName)}}" tooltip="{{getTooltip(sampleName, sample)}}">
      <span ng-show="view=='circle'"><dot samples="sample.analyses" identity-cutoff="identityCutoff"></dot></span>
      <span ng-show="view=='square'"><block samples="sample.analyses" identity-cutoff="identityCutoff"></block></span>
      
          <span ng-show="sample.analyses.length==0"><dot></dot></span>
        </a></td>
        </tr>
<!--         <br>
 -->      </table>
    </td>
</tr>
</table>
</div>

</div>
</div>