<div class="container">
<div class="row">
<h2>HITMAP</h2>
<form class="form form-horizontal" role="form" ng-submit="submitForm()">
  <div class="form-group">
    <label for="email" class="col-sm-4 control-label">Email</label>
    <div class="col-sm-4">
        <input class="form-control" id="email" name="email" type="text" ng-model="email">
        <p class="help-block">Enter your email address so we can email when your job is done</p>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-4 control-label">Job Name</label>
    <div class="col-sm-4">
        <input class="form-control" id="name" name="name" type="text" ng-model="name">
        <p class="help-block">Enter the name of this job</p>
    </div>
  </div>
  <div class="form-group">
    <label for="fasta" class="col-sm-4 control-label">FASTA</label>
    <div class="col-sm-4">
        <input class="btn btn-default" id="fasta" name="fasta" type="file" ng-file-select="fastaSelect($files)">
        <p class="help-block">Upload your FASTA file here</p>

            </div>
  </div>
 <div class="form-group">
    <label for="ref" class="col-sm-4 control-label">References</label>
    <div class="col-sm-4">
        <input class="btn btn-default" id="ref" name="ref" type="file" ng-file-select="refSelect($files)">
        <p class="help-block">Upload your reference FASTA file here</p>
    </div>
  </div>
  <div class="form-group">
    <label for="map" class="col-sm-4 control-label">Map</label>
    <div class="col-sm-4">
        <input class="btn btn-default" id="map" name="map" type="file" ng-file-select="mapSelect($files)">
        <p class="help-block">Upload your map from barcode to sample sequence as a .csv file with the barcode as the first column</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
{{output}}
</div>
</div>