<div class="container">
<div class="row">
<div ng-show="showAll">
<h2>HITMAP</h2>
<table ><tr><td><table><tr><th>Sample</th></tr><tr ng-repeat="sample in regions.regions[0].samples | orderBy:'name'"><td style="height:30px">{{sample.name}} </td></tr><br></table></td><td ng-repeat="region in regions.regions"><table><tr><th>{{region.name}}</th></tr><tr ng-repeat="sample in region.samples | orderBy:'name'"><td><a ng-show="sample.analyses.length>0" ng-click="getInfo(sample.analyses)"><dot samples="sample.analyses.length" ></dot></a><span ng-show="sample.analyses.length==0"><dot></dot></span></td></tr><br></table></td></tr></table>
</div>
<div ng-hide="showAll" id="analysisInfo">
<h4>Summary of information for {{title}}</h4>
<h5>Length of target genome sequence: {{referenceLength}}</h5>
<h5>Number of CpG sites: {{referenceCpGSites.length}}
<h5>Number of bisulfite sequences: {{included}} used / {{excluded}} excluded / {{included + excluded}} total</h5>
<br>
<h4>Methylation status of each CpG site</h4>
<div class="table-responsive">
<table class="table">
<tr>
  <th>CpG position</th>
  <th ng-repeat="area in percentMethylation">{{area.location}}</th>
</tr>
<tr>
<td>Me-CpG</td>
  <td ng-repeat="area in percentMethylation">{{area.m}}/{{area.m+area.u}}<br>{{area.m/(area.m+area.u)*100 | number: 1}}%</td>
</tr>
</table>
</div>
<h4>Bisulfite sequence information</h4>
<table class="table" style="width:auto">
<tr>
  <th>Include?</th>
  <th>Sequence name</th>
  <th>mismatch (gap) / alignment length<br>(% identity)</th>
  <th>Me-CpG (%)</th>
  <th>unconverted (% converted)</th>
  <th>Methylation pattern</th>
</tr>
<tr ng-repeat="analysis in analyses | orderBy:predicate">
  <td><input ng-model="analysis.include" type="checkbox" ng-change="setMethylation()"></td>
  <td>{{analysis.sequenceName}}</td>
  <td>{{analysis.alignment.mismatches}} ({{analysis.alignment.gaps}}) / {{analysis.alignment.length}} ({{analysis.alignmentIdentity*100 | number: 1}})</td>
  <td>{{analysis.methylation.methylatedCpGSites}} ({{analysis.methylation.methylatedCpGSites/(analysis.methylation.methylatedCpGSites+analysis.methylation.cpGSites)*100 | number: 1}})</td>
  <td>{{analysis.bisulfite.unconvertedCpH}} ({{analysis.percentConversion*100 | number: 1}})</td>
  <td><span ng-repeat="site in analysis.methylation.sequence track by $index"><img height="10px" width="10px" ng-show="site=='M'" src="img/closed_circle.png"/><img  height="10px" width="10px" ng-show="site=='U'" src="img/open_circle.png"/><img  height="10px" width="10px" ng-show="site=='-'" src="img/dash.png"/><img  height="10px" width="10px" ng-show="site=='G' || site=='A' || site=='T'" src="img/x.png"/></span></td>
</tr>
</table>

<button type="button" class="btn btn-default" ng-click="backToOverview()">Back to Overview</button>
</div>
</div>
</div>